/* width */
.scrollable::-webkit-scrollbar {
  width: 20px;
  transition: opacity 1s;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px lightgrey;
  border: solid 6px transparent;
  border-radius: 10px;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px black;
  border: solid 6px transparent;
  border-radius: 10px;
}
