@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: rgb(59 130 246);
  text-decoration: underline;
}

body {
  color: black;
  background: #b4f4fa;
  overflow-x: hidden;
}

@keyframes wiggle {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px) scale(1.2);
  }
  100% {
    transform: translateY(-3px);
  }
}
